.header {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  color: #f1f1f1;
  background: #595a5c;
  padding: 40px;
  border-bottom: 1px solid #474747;
}
