@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600&subset=latin-ext');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: hsl(0, 1%, 81%);
  font-family: 'Raleway', sans-serif;
}
